.hero_sections {
  height: 144px;
  background-color: white;
}

.hero_sections_container {
  width: 100%;
  position: absolute;
  top: 636px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media only screen and (max-width: 1024px) {
  .hero_sections {
    height: auto;
  }
  .hero_sections_container {
    flex-direction: column;
    top: 320px;

    position: static;
    background-color: white;

    padding: 36px 20px;

    gap: 30px;
  }
}
