.faq_search {
  position: relative;
}

.faq_search input {
  width: 400px;
  height: 45px;
  padding: 5px 40px 5px 20px;
  margin-top: 60px;

  border: 2px solid #ffffff;
  border-radius: 50px;
  font-size: 16px;
  font-style: normal;
}

.faq_search svg {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-12px, calc(-50% + 2px));
}

@media screen and (max-width: 1024px) {
  .faq_search input {
    max-width: 294px;
  }
}
