.faq_hero {
  max-height: 600px;
  background: url("/img/faq/faq_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 0 85px 0;
}

.faq_hero .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 118px;
  line-height: 100px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.faq_hero .title .top {
  display: flex;
  align-items: center;
  overflow: visible;
  z-index: 1;
}

.faq_hero .title .subtitle {
  /* font-family: 'Hurme Geometric Sans 3'; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  margin-top: 60px;
  max-width: 994px;
}

.faq_hero .mobile_only {
  display: none;
  flex-direction: column;
  margin-bottom: -16px;
  overflow: hidden;
  width: 100%;
}

.faq_hero .mobile_only svg {
  margin-top: -12px;
}

@media screen and (max-width: 1024px) {
  .faq_hero {
    padding: 0 20px 60px 20px;
    background: url("/img/faq/faq_mobile_bg.jpg");
    max-height: 520px;
  }

  .faq_hero .mobile_only {
    display: flex;
  }

  .faq_hero .mobile_only svg:nth-child(1) {
    opacity: 0.5;
  }
  .faq_hero .mobile_only svg:nth-child(2) {
    opacity: 0.7;
  }
  .faq_hero .mobile_only svg:nth-child(3) {
    opacity: 0.9;
  }

  .faq_hero .title {
    font-size: 51px;
    line-height: 43px;
  }

  .faq_hero .title .subtitle {
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
