.hero_section_container {
  max-width: 400px;

  position: relative;
}

.hero_section_article {
  background-color: white;
  border: 1px solid #c8c8c8;
  height: 250px;
  z-index: 30;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section_img {
  min-width: 711px;
  position: absolute;
  top: -100%;
  transform: translate(-50%, 0px);
  z-index: 2;
}

.hero_section_article_text {
  height: calc(100% - 48px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_section_article h4 {
  font-style: italic;
  font-weight: 900;
  font-size: 26px;
  line-height: 25px;
  /* or 96% */

  text-transform: uppercase;

  /* PRIMARY/Neon-Purple */

  color: #4e00ff;

  text-align: start;
}

.hero_section_article p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #231f20;
  text-align: start;
}

.hero_section_article button {
  background: linear-gradient(270deg, #4e00ff 0%, #6920e5 100%);
  width: 100%;
  height: 46.88px;
  border: 1px solid #4e00ff;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 1024px) {
  .hero_section_container {
    min-width: 100%;
  }
  .hero_section_img {
    display: none;
  }
}
