.hero_container {
  height: 745px;

  background-color: #442574;
  background-image: url("./img/press/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  overflow-y: hidden;
}
.hero_title {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 10px;

  overflow: hidden;

  padding-top: 86px;
}

.hero_title :nth-child(2) {
  margin-right: -86px;
}

.hero_title :nth-child(4) {
  margin-left: -106px;
}

.hero_title svg {
  flex-shrink: 0;
}

@media only screen and (max-width: 1024px) {
  .hero_container {
    height: 303px;
  }

  .hero_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0px;

    padding-top: 0px;
    margin-top: -104px;
  }

  .hero_title :nth-child(1),
  .hero_title :nth-child(2),
  .hero_title :nth-child(4),
  .hero_title :nth-child(5) {
    margin-right: 0px;
    margin-left: 0px;

    margin-bottom: -12px;
    order: 0;

    height: 60px;
  }

  .hero_title :nth-child(3) {
    order: 1;
    height: 128px;
  }
}
