.benefits_container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 180px 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.bullet_wrapper {
  padding: 20px;
  position: relative;
  height: 530px;
  width: 1272px;
}

.border_wrapper {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  background: linear-gradient(270deg, #4e00ff 0%, #00ffdc 100%);
}

.benefits {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: top;

  width: 100%;
  height: 100%;
  padding: 55px 104px;

  border-radius: 20px;

  background: linear-gradient(
      280.55deg,
      rgba(5, 2, 65, 0) 25.64%,
      rgba(5, 2, 65, 0.8) 66.27%
    ),
    url("/img/campaign/benefits_bg.svg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-position: center;
}

.benefits .title {
  position: absolute;
  top: 0;
  left: 104px;
  transform: translateY(-50%);

  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 66px;
  line-height: 58px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* PRIMARY/Acidic-Yellow */
  color: #d2ff00;
}

.benefits .content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 340px;

  /* font-family: "Haas Grot Disp"; */
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: left;

  /* NEUTRALS/White */
  color: #ffffff;
}

.benefits .content .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits .content .list .list_item {
  position: relative;
  /* DESKTOP/H5 */
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 26px;
  line-height: 25px;

  text-transform: uppercase;

  padding-left: 30px;

  /* PRIMARY/Acidic-Yellow */
  color: #d2ff00;
}

.benefits .content .list .list_item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  /* PRIMARY/Acidic-Yellow */
  background-color: #d2ff00;

  border-radius: 10px;
}

.benefits .button {
  position: absolute;
  left: 50%;
  bottom: 0;

  width: 290px;
  height: 60px;

  background-color: #d2ff00;
  border-radius: 8px;
  cursor: pointer;

  transform: translate(-50%, 50%) skew(-10deg);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.benefits .button span {
  transform: skew(10deg);

  /* font-family: 'Hurme Geometric Sans 3'; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  border-radius: 8px;

  text-transform: uppercase;

  /* NEUTRALS/Muted_BtnCopy */

  color: #2b0f39;
}

.benefits .hero {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(10%);
}

.benefits .hero img.mobile_only {
  display: none;
}

.bullet_1 {
  position: absolute;
  left: 0;
  top: 170px;
  transform: translateX(-60%);
  z-index: 9999;
}

.bullet_2 {
  position: absolute;
  left: 0;
  top: 80px;
  transform: translateX(-140%);
}

@media screen and (max-width: 1024px) {
  .bullet_wrapper {
    width: 100%;
    height: auto;
  }

  .benefits {
    padding: 40px 26px;
  }
  .benefits .title {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0.03em;

    left: 50%;
    transform: translate(-50%, -50%);
  }

  .benefits .hero img {
    display: none;
  }

  .benefits .hero img.mobile_only {
    display: block;
  }

  .benefits .hero {
    right: 0;
    transform: translateX(0%);
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .benefits .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 300px;
  }

  .benefits .content .list .list_item {
    padding: 0;
    text-align: center;
    font-weight: 800;
    font-size: 23px;
    line-height: 20px;
  }

  .benefits .content .list .list_item::before {
    display: none;
  }

  .bullet_1 {
    position: absolute;
    left: 90px;
    top: 0;
    transform: translate(0, -100px);
    width: 70px;
    height: auto;
  }

  .bullet_2 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(10px, -60px);
    width: 98px;
    height: auto;
  }
}
