.gallery_grid {
  /* background: blue; */
}

.grid_container {
  max-width: 1252px;
  padding: 64px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: 16px;
}

@media only screen and (max-width: 1024px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
