.panel {
  position: relative;

  display: flex;
  flex-direction: column;

  height: auto;
  width: 100%;

  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #00ffdc, #4e00ff) 1;
}

.panel:nth-child(2) {
  border-top: 1px solid;
}

.panel * {
  z-index: 1;
  transition: 0.3s;
}

.panel .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  height: 100px;
  padding: 38px 94px;
}

.panel .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(94.64deg, #4e00ff -35.52%, #00ffdc 120.73%);
  opacity: 0;
  z-index: 0;
}

.panel h6.title {
  flex: 1;

  /* font-family: "Hurme Geometric Sans 3"; */
  text-align: left;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  color: #231f20;
}

.panel.active .background {
  opacity: 1;
}

.panel.active h6 {
  color: #fff;
}

.panel svg {
  transform: rotate(0);
}

.panel.active svg {
  transform: rotate(45deg);
}

.panel svg path {
  fill: #000;
}

.panel.active svg path {
  fill: #fff;
}

/* PANEL CONTENT */
.panel .panel_content {
  height: 0;
  overflow: hidden;
}

.panel.active .panel_content {
  height: auto;
}

@media screen and (max-width: 1024px) {
  .panel .header {
    padding: 30px 20px;
  }
}
