.item {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  /* min-width: 296px;
    max-width: 337px; */
  width: 100%;
  height: 566px;

  /* max-width: calc(100vw - 2rem); */
  cursor: pointer;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  border: 0.5px solid #969494;
  border-top: none;

  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
  }

  .item {
    min-width: 100%;
  }
}

.image,
.content {
  height: 50%;
  position: relative;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 150%;
  min-width: 100%;
  object-fit: cover;
  display: block;
  /* opacity: 0.68; */
  transition: 0.3s ease-out;
}

.gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(78, 0, 255, 0) 0%, #4e00ff 100%);
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 348px;

  transition: opacity 0.2s ease-in;
  /* background: linear-gradient(180deg, rgba(78, 0, 255, 0) 16.88%, #4E00FF 53.86%); */
}

.content {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* height: 258px; */
}

.contentBackground {
  position: absolute;
  inset: 0;
  background-image: url(../../../../../assets/images/temp/news_bg.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
  transition: 0.3s ease-out;
}

.item:hover .contentBackground {
  inset: 0 10px 10px 10px;
}
.item:hover .gradient {
  opacity: 1;
}

.item:hover .image img {
  transform: scale(1.28) translateY(7%);
}

.content {
  position: relative;
  padding: 2rem;
  color: #2b0f39;
}

.categoryPill {
  font-size: 0.8rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  border-radius: 26px;
  color: #4e00ff;
  background: #00ffdc;

  display: inline;
  position: absolute;
  top: -13px;
  padding-inline: 10px;
  padding-block: 5px;
  flex: 0;
}

.categoryPill:global(.yellow) {
  background: #d2ff00;
}

.categoryPill:global(.pink) {
  color: white;
  background: #f416e6;
}

.content h5 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-align: left;
}

.content .contentText {
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  min-height: 2.4rem;
  display: flex;
  flex-direction: column;
}

.content .contentText p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 0;
  margin: 0;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  display: none;

  text-align: left;
}

.content .contentText p:first-child {
  display: -webkit-box;
  flex: 1;
}

.content h6 {
  font-size: 0.88rem;
  line-height: 1.13rem;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  color: #4e00ff;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  .content .contentText p {
    font-size: 1.25rem;
  }

  .content h6 {
    font-size: 1.1rem;
  }
}

.news_load_more_btn {
  width: 234px;
  height: 60px;
  color: #2b0f39;
  border: 2px solid #2b0f39;
  border-radius: 8px;
  transform: skew(-10deg);
  margin: 60px auto;
  cursor: pointer;

  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  /* NEUTRALS/Muted_BtnCopy */
  color: #2b0f39;
}
