.card_big {
  max-width: 1232px;
  width: 100%;
  height: 430px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  border: 2px solid rgba(210, 255, 0, 1);

  z-index: 10;
}

.card_big.reverse {
  flex-direction: row-reverse;
}

.card_big .text_container {
  background-color: rgba(210, 255, 0, 1);
  width: 400px;
  min-width: 400px;
  height: 100%;
  padding: 52px 32px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  color: rgba(43, 15, 57, 1);
}

.card_big .img_container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.card_big .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.card_small {
  flex-grow: 1;
  background-color: rgba(210, 255, 0, 1);
  display: flex;
  flex-direction: column-reverse;

  /* font-family: "Haas Grot Disp"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #2b0f39;
}

.card_small h3 {
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;
}

.card_small .img_container {
  position: relative;
  height: 523px;
  min-height: 523px;
}
.card_small .text_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px;
}

.card_small .img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 2px solid rgba(210, 255, 0, 1);

  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .card_big,
  .card_big.reverse {
    flex-direction: column-reverse;
    height: auto;
  }
  .card_big .img_container img,
  .card_big.reverse .img_container img,
  .card_small .img_container img {
    height: 336px;
    width: 100%;
    object-fit: cover;
    position: unset;
  }

  .card_small .img_container {
    height: auto;
    min-height: unset;
  }

  .card_big .text_container,
  .card_small .text_container {
    width: 100%;
    min-width: unset;
    padding: 30px;
  }
}
