.cards {
  text-align: left;
  position: relative;

  padding-top: 338px;
  width: 100%;
}

.cards h3 {
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 25px;
  /* or 96% */

  text-transform: uppercase;
}
.cards p {
  font-family: "Haas Grot Disp";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.cards_container {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 30px;
  padding: 0 32px;
  margin-bottom: 30px;
}

.cards_2 {
  display: flex;
  justify-content: center;
  gap: 16px;

  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
}

.sonic {
  width: 314px;
  height: auto;

  position: absolute;
  left: 0;
  top: 50%;
  z-index: 999;
}

.wright {
  position: absolute;
  top: -156px;
  height: max-content;
  width: max-content;
}

.wright img {
  transform: scale(0.95);
}

@media screen and (max-width: 1024px) {
  .cards_2 {
    flex-direction: column;
  }

  .sonic {
    display: none;
  }

  .wright {
    top: -60px;
  }
}
