.faq_accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  padding-bottom: 60px;
}

.faq_accordion h4 {
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 800;
  font-size: 41px;
  line-height: 49px;
  text-transform: uppercase;

  color: #2b0f39;

  margin-bottom: 60px;
}

/* PANEL CONTENT */

.panel_content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  /* padding: 38px 94px; */
  padding: 38px 0px;
  color: #fff;

  text-align: left;
}

.panel_content p {
  /* font-family: "Haas Grot Disp"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-left: 94px;
  padding-right: 94px;
}

.panel_content .gallery {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding-left: 94px;
  padding-right: 94px;
}

.panel_content .gallery img {
  height: 225px;
  /* width: 400px; */
  flex: 0 0 auto;
  object-fit: cover;
}

.faq_load_more_btn {
  width: 234px;
  height: 60px;
  color: #2b0f39;
  border: 2px solid #2b0f39;
  border-radius: 8px;
  transform: skew(-10deg);
  margin: 60px auto;
  cursor: pointer;

  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  /* NEUTRALS/Muted_BtnCopy */
  color: #2b0f39;
}

@media screen and (max-width: 1024px) {
  .panel_content {
    padding: 30px 0px;
  }

  .panel_content p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  .faq_accordion h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 51px;
    line-height: 30px;

    width: 100%;
    padding: 0 20px;
  }
  .faq_accordion h4 span {
    /* width: 100%; */
    padding-left: 6px;
    font-size: 23px;
  }

  .panel_content .gallery {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 20px;
  }

  .panel_content .gallery img {
    height: 198px;
    width: 337px;
    object-fit: cover;
  }
}
