.related_articles {
  max-width: 1232px;
  margin: auto;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.related_articles .container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.related_articles .container::-webkit-scrollbar {
  display: none;
}

.related_articles .title {
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 800;
  font-size: 41px;
  line-height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #1f041d;
  margin-bottom: 34px;
}

.related_articles_load_more_btn {
  width: 234px;
  height: 60px;
  color: #2b0f39;
  border: 2px solid #2b0f39;
  border-radius: 8px;
  transform: skew(-10deg);
  margin: 60px auto;
  cursor: pointer;

  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  /* NEUTRALS/Muted_BtnCopy */
  color: #2b0f39;
}

@media only screen and (max-width: 1024px) {
  .related_articles {
    display: none;
  }
}
