.gallery_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  background-color: white;
  border-radius: 50px;
  height: 50px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

.gallery_navigation::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery_navigation {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gallery_navigation_link {
  width: 145px;
  height: 100%;
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border-radius: 50px;

  color: #2b0f39;

  cursor: pointer;

  transition: color 0.5s linear;

  position: relative;
}

.gallery_navigation_link a {
  white-space: nowrap;
}

.gallery_navigation_link.active {
  color: white;
}

.navigation_background {
  background-color: rgba(78, 0, 255, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

@media only screen and (max-width: 1024px) {
  .gallery_navigation {
    left: 20px;
    transform: translate(0%, -50%);
    overflow-x: scroll;
    width: 100%;
    justify-content: unset;
    padding-right: 20px;
  }
  .gallery_navigation_link {
    width: auto;
    padding: 0 20px;
  }
}
