.sign_up_card {
  width: 264px;
  height: 338px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  width: 264px;
  height: 338px;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.number {
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-align: center;

  /* NEUTRALS/Muted_BtnCopy */

  color: #2b0f39;
  border: 5px solid #2b0f39;

  border-radius: 100%;
}

.sign_up_card h4 {
  margin-top: 46px;

  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  text-align: center;
  text-transform: uppercase;

  /* NEUTRALS/Muted_BtnCopy */

  color: #2b0f39;
}

.sign_up_card p {
  margin-top: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  /* NEUTRALS/Muted_BtnCopy */

  color: #2b0f39;
}

@media only screen and (max-width: 1024px) {
  .sign_up_card {
    width: 100%;
    min-height: 202px;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 25px 20px;

    z-index: 2;
  }

  .number {
    min-width: 70px;
    min-height: 70px;
  }

  .sign_up_card h4 {
    margin-top: 0px;
  }

  .sign_up_card p {
    margin-top: 16px;
  }
}
