.news_share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1024px;
  margin: auto;
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 40px;
}

.news_share .share {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 16px;
  cursor: pointer;
  color: #2b0f39;
}

.news_share .line {
  height: 1px;
  background: #4e00ff;
  flex: 1;
}

@media only screen and (max-width: 1024px) {
  .news_share {
    padding: 0 20px;
  }
}
