.news_content {
  margin: 0 auto;
  max-width: 1264px;

  padding: 0 16px;

  position: relative;

  padding-top: 286px;
  padding-bottom: 48px;
}

.first {
  display: none;
}

.head_news {
  cursor: pointer;
  position: absolute;
  top: -410px;
  left: 0;

  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);

  max-width: min(1232px, calc(100vw - 48px));

  height: 566px;
  min-height: min-content;

  display: flex;

  background: linear-gradient(
    123.11deg,
    rgba(0, 255, 220, 1),
    rgba(78, 0, 255, 1)
  );

  padding: 2px;
}

.head_news_image {
  position: relative;
  width: 100%;
  max-width: 832px;
  overflow: hidden;
}

.head_news_image img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.head_news_content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 400px;

  background-image: url("../../../../assets//images/temp/news1_bg.png");
  background-size: cover;

  padding: 32px;
  text-align: left;

  color: black;
}
.head_news_content .category {
  position: static;
  width: min-content;
}

.head_news_content h5 {
  font-style: italic;
  font-weight: 900;
  font-size: 26px;
  line-height: 25px;

  text-transform: uppercase;

  color: #231f20;
}
.head_news_content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #231f20;
}
.head_news_content span {
  bottom: 32px;
  left: 32px;
  position: absolute;
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  /* PRIMARY/Neon-Purple */

  color: #4e00ff;
}

@media only screen and (max-width: 1024px) {
  .news_content {
    padding: 0 20px;
    padding-top: 64px;
  }
  .first {
    display: block;
  }

  .head_news {
    display: none;
  }
}
