.article_image {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  padding: 25px 0;
  margin: auto;
}

.article_image img {
  max-width: 100%;
}

.img_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img_wrapper.image_border {
  background: linear-gradient(to right, #00ffdc, #4e00ff);
  padding: 5px;
}

.img_wrapper .image_alt {
  position: absolute;
  width: auto;
  height: 30px;
  padding: 6px 12px;
  bottom: 0;
  right: 0;
  background: #4e00ff;
  color: #fff;
  transform: skew(-10deg);
}

.img_wrapper .image_alt p {
  transform: skew(10deg);
}

.img_wrapper.image_border .image_alt {
  bottom: 5px;
}

@media only screen and (max-width: 1024px) {
  .article_image {
    padding: 36px 20px;
  }

  .img_wrapper {
    overflow: unset;
  }

  .img_wrapper .image_alt {
    background: unset;
    bottom: 0;
    padding: 0;
    color: #4e00ff;
    transform: skew(0deg) translateY(calc(100% + 11px));
    font-size: 10px;
  }

  .img_wrapper .image_alt p {
    transform: skew(0);
  }
}
