.most_faq {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 65px 0;
  background-color: #fff;
}

.most_faq h2 {
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 800;
  font-size: 41px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2b0f39;
  padding-left: 20px;
  padding-right: 20px;
}

.most_faq .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-width: 1252px;
  margin: 60px 0 40px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.most_faq .boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;

  max-width: 400px;
  height: 260px;
  padding: 36px 30px;
  border: 1px solid #d9d9d9;

  background: url("/img/faq/mfaq1.svg");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
}

.most_faq .boxes .box:nth-child(2) {
  background: url("/img/faq/mfaq2.svg");
}
.most_faq .boxes .box:nth-child(3) {
  background: url("/img/faq/mfaq3.svg");
}

.most_faq .boxes .box h5 {
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 25px;

  text-align: center;
  text-transform: uppercase;

  color: #4e00ff;
}

.most_faq .boxes .box p {
  /* font-family: 'Haas Grot Disp'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #231f20;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

@media (max-width: 1024px) {
  .most_faq h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    font-size: 51px;
    line-height: 30px;
  }

  .most_faq h2 span {
    margin-left: 6px;
    font-size: 23px;
  }

  .most_faq .boxes {
    overflow-x: auto;
    justify-content: flex-start;
    justify-content: unset;
    max-width: none;
    width: 100%;
    margin: 60px auto;
  }

  .most_faq .boxes .box {
    max-width: 337px;
    width: 100%;
    flex: 0 0 auto;
    height: 320px;
  }
}
