.content_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 16px;

  height: min-content;

  background-color: white;

  padding-bottom: 72px;
}

.content1 {
  height: 536px;
  grid-column: span 2;
  width: 100%;

  background-image: url("./img/press/content1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.content1 h4 {
  font-style: italic;
  font-weight: 900;
  font-size: 66px;
  line-height: 58px;

  text-align: center;
  text-transform: uppercase;

  color: #00ffdc;

  text-align: center;

  width: 920px;
}

.content1 button {
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  background-image: url("./img/press/content1_btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 330px;
  height: 60px;
}

.content2,
.content3 {
  height: 300px;
  width: 100%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  background-image: url("./img/press/content2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content2 :nth-child(1),
.content3 div :nth-child(1) {
  font-style: italic;
  font-weight: 800;
  font-size: 41px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.content2 :nth-child(2),
.content3 div :nth-child(2) {
  font-weight: 800;
  font-size: 66px;
  line-height: 58px;

  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
}
.content3 {
  background-image: url("./img/press/content3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  gap: 12px;
}

.content2 .content_card,
.content3 .content_card {
  position: absolute;
  bottom: 0;
  left: 50%;

  height: 60px;
  width: fit-content;

  background-color: #d2ff00;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  padding: 0 26px;

  border-radius: 8px;

  transform-origin: 100% 100%;

  transform: translate(-50%, 50%) skewX(-12deg);
}
.content2 .content_card span,
.content3 .content_card span {
  color: #2b0f39;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  transform: skewX(12deg);
}

@media only screen and (max-width: 1024px) {
  .content_container {
    display: flex;
    flex-direction: column;

    gap: 5px;
  }
  .content1 {
    grid-column: auto;
    width: 100%;

    background-image: url("./img/press/content1.png");

    gap: 26px;

    padding: 0 20px;
  }

  .content1 h4 {
    width: 100%;
    font-weight: 900;
    font-size: 36px;
    line-height: 38px;
  }

  .content2 .content_card,
  .content3 .content_card {
    position: static;
    transform: translate(0, 0) skewX(-12deg);
  }
  .content2 .content_card {
    margin-top: 26px;
  }

  .content3 {
    flex-direction: column;
  }

  .content3 .content_card {
    margin-top: 16px;
  }
  .content3 img {
    display: none;
  }
}
