.vp_cards {
  max-width: 1232px;
  width: 100%;
  padding: 0 50px;
  margin-top: 130px;

  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .vp_cards {
    flex-direction: column;
    align-items: center;
  }
}
