@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.heroBanner {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
}

.heroBanner li {
  width: 100%;
  height: 670px;
  overflow: hidden;
  position: relative;
}

.heroBanner li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 12.2%, 0.5);
  z-index: 1;
}

.bannerImage {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* opacity: 0.7; */
}

.bannerContent {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 39%;
  z-index: 1;
  color: #fff;
  text-align: center;
  line-height: 1.6;
}

/* .bannerTitle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
 } */

.bannerTimeStamp {
  position: relative;
  color: #999;
}

.blog-title,
.socialTitle,
.slideShowTitle,
.blogQuotes {
  padding: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.bloglistContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 20%;
  margin-top: 20px;
}

.blogPostContent {
  margin: 16px;
  text-align: left;
}

.post-author,
.blogpost-author {
  margin: 0 5px;
  font-weight: 400;
  color: #090909;
}

.blogpost-author {
  color: #eee;
}

.blogContent {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 54px 20% 20px;
}

.blogContent p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 1.6;
}

.bloglist {
  height: 280px;
  width: 800px;
  margin: 5px;
  padding: 10px;
  border-top: 1px solid rgb(230, 224, 224);
}

.blogPost {
  font-size: 20px;
  font-weight: 400;
  color: #474747;
  margin-top: 12px;
}

.bloglist:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.leftSection {
  float: left;
  width: 50%;
  margin: 0 0 0 0;
  padding-right: 20px;
}

.leftSection img {
  height: 260px;
  width: 95%;
  max-width: 100%;
  outline: 0;
  box-sizing: border-box;
}

.timeStamp {
  color: #999;
}

.rightSection {
  float: left;
  width: 50%;
}

.listImages {
  height: 240px;
  width: 95%;
}

.postLink {
  display: block;
  margin-top: -18px;
  text-decoration: none;
  color: #533dc0;
  cursor: pointer;
}
.otro-blockquote {
  width: 70%;
  margin: 50px auto;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid rebeccapurple;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

.blogpostImage {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 500px;
  margin-top: -25px;
  padding: 12px 12px;
}

.otro-blockquote::before {
  position: absolute;
  left: 10px;
  top: -10px;
}

.otro-blockquote::after {
  content: "";
}

.quoteIcon {
  position: relative;
  top: -7px;
  float: left;
}

.singleQuotes {
  display: block;
  height: auto;
}

.footer-col {
  color: #fff;
}

.footer-copyrights {
  color: #fff;
}

.embededSocialCode {
  margin: 0 auto;
  margin-bottom: 40px;
}

.pageWrap {
  border-image-source: linear-gradient(95.76deg, #00ffdc -35.09%, #4e00ff 100%);
  border-image-width: 0 6px 0 6px;
  border-image-repeat: stretch;
  border-image-slice: 30%;
  border-image-outset: 6px;
  border-inline: thin solid;
}

.socialLinks-module--socialLinks--jsdkh {
  --color: white;
  --stroke-width: 2px;
  display: flex;
  gap: 20px;
}

.socialLinks-module--socialLinks--jsdkh .socialLinks-module--item--1sJlD {
  display: inline;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  margin: 0;
}

.socialLinks-module--link--hQfIg {
  position: relative;
  color: transparent;
  -webkit-text-stroke: var(--stroke-width) var(--color);
  transition: color 0.3s ease-out, -webkit-text-stroke 0.3s ease-out;
  fill: var(--color);
}

.socialLinks-module--svgIcon--AEJO3 {
  transition: opacity 0.3s ease-out;
}

.socialLinks-module--svgIcon--AEJO3:not(.socialLinks-module--normal--LldSh) {
  position: absolute;
  /* inset: 0; */

  opacity: 0;
}

.socialLinks-module--link--hQfIg:is(:hover, :focus, :active) {
  color: var(--color);
}

.socialLinks-module--link--hQfIg:is(:hover, :focus, :active)
  .socialLinks-module--hover--y7ACR {
  opacity: 1;
}

.socialLinks-module--link--hQfIg:is(:hover, :focus, :active)
  .socialLinks-module--normal--LldSh {
  opacity: 0;
}
.footer-module--footer--ov5Kw {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  background-color: #050241;
}

.footer-module--separatorContainer--Afxs4 {
  width: 100%;
  margin-inline: auto;
  position: relative;
  flex: 0 1;
}

.footer-module--separatorContainer--Afxs4 .footer-module--separator--LhE48 {
  border-image-source: linear-gradient(95.76deg, #00ffdc -35.09%, #4e00ff 100%);
  border-image-width: 3px 0 0 0;
  border-image-repeat: stretch;
  border-image-slice: 30%;
  border-image-outset: 0;
  border-width: thin;
  border-style: solid;
  width: 100%;
  text-align: center;
  position: relative;
}

.footer-module--separatorContainer--Afxs4 .footer-module--separator--LhE48 svg {
  margin-top: -6px;
  max-width: 100%;
}

.footer-module--separatorContainer--Afxs4 .footer-module--socials--8e61J {
  --color: #050241;

  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  justify-content: center;
  gap: 15px;
}

.footer-module--separatorContainer--Afxs4 .footer-module--socials--8e61J > * {
}

.footer-module--container--8eueV {
  width: 100%;
  max-width: 1232px;
  margin-inline: auto;
  padding-block: 1.75rem;
  gap: 1rem;
}

.footer-module--container--8eueV + * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-module--totop--Zefds a,
.footer-module--menuItem--VQ6TF a {
  color: white;
  text-decoration: none;
  pointer-events: all;
  text-transform: uppercase;
}

.footer-module--totop--Zefds {
  text-align: right;
  top: 0;
  position: absolute;
  pointer-events: none;
  font-size: 0.875rem;
  font-weight: 800;
  font-style: italic;
}

.footer-module--totop--Zefds svg {
  -webkit-transform: rotate(180deg) translateY(-25%);
  transform: rotate(180deg) translateY(-25%);
}

.footer-module--newsletter--kp-DR {
}

.footer-module--newsletterMobile--ZynTA {
  display: none;
}

.footer-module--menu--DQgH8 {
  width: 100%;
  margin-top: 20px;
}

.footer-module--menu--DQgH8 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-style: italic;
  display: flex;
  align-items: start;
  gap: 2rem;
}

.footer-module--menuItem--VQ6TF {
  margin: 0;
  padding: 0;
}

.footer-module--rating--S8Ekj {
}

.footer-module--rating--S8Ekj img {
  max-width: 32px;
}

.footer-module--platforms--rGeLB {
  flex-grow: 1;
  display: flex;
  gap: 1em;
  mix-blend-mode: luminosity;
  opacity: 0.75;
}

.footer-module--platforms--rGeLB img {
  display: inline;
  max-height: 25px;
}

.footer-module--logos--n0E9x {
  border-top: 1px white solid;
  flex-wrap: nowrap;
  gap: 1.25rem;
}

.footer-module--logos--n0E9x img {
  height: 40px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-module--copyrights--lUVYy {
  border-left: 1px white solid;
  padding-left: 1.25rem;
  font-size: 0.88rem;
  order: 3;
}

.footer-module--lang--x9T1Q {
  order: 4;
}

@media only screen and (max-width: 1024px) {
  .footer-module--container--8eueV {
    max-width: 91vw;
    margin-inline: auto;
    flex-wrap: wrap;
  }

  .footer-module--totop--Zefds {
    position: relative;
    margin-top: 1rem;
    padding: 0;
    text-align: center;
  }

  .footer-module--newsletterMobile--ZynTA {
    display: block;
    width: 100%;
    margin-bottom: 26px;
  }

  .footer-module--newsletterMobile--ZynTA svg {
    width: 100%;
  }

  .footer-module--newsletter--kp-DR {
    display: none;
  }

  .footer-module--menu--DQgH8 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }

  .footer-module--menu--DQgH8 ul {
    display: inline;
  }

  .footer-module--menuItem--VQ6TF {
    margin-bottom: 10px;
  }

  .footer-module--rating--S8Ekj {
    align-self: baseline;
  }

  .footer-module--platforms--rGeLB {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-module--logos--n0E9x img {
    height: 24px;
  }

  .footer-module--copyrights--lUVYy {
    margin: 0;
    padding: 0;
    border: 0;
    order: 4;
  }

  .footer-module--lang--x9T1Q {
    order: 3;
  }
}
html {
  font-family: NeueHaasGrotesk, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: none;
}

body {
  margin: 0;
  font-family: NeueHaasGrotesk, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #080f11; /* Neutrals/Black */
  overflow-x: hidden;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
footer main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/*
svg:not(:root) {
  overflow: hidden;
}
*/

svg.inherit-colors,
svg.inherit-colors path,
svg.inherit-colors rect,
svg.inherit-colors text {
  fill: inherit;
  stroke: inherit;
  color: inherit;
  background: inherit;
}

svg.inherit-size {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  background-color: transparent;
  color: white;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5rem;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
  border: none;
  outline: none;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:root {
  scroll-behavior: smooth !important;
}

html {
  font: 100%/1em georgia, serif;
  box-sizing: border-box;
  overflow: hidden scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: white;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 400;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

ul {
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: HurmeGeometricSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

.btn {
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  padding-block: 1rem;
  padding-inline: 2.75em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 8px;
}

.btn,
.btn::after {
  transition: 0.3s ease-in-out;
  transition-property: color, opacity, background-color;
}

.btn-widest {
  width: 100%;
}

.btn-primary {
  background-color: #d2ff00;
  color: #2b0f39;

  /* trick background to draw second layer and to animate it's size */
  /*
  background-image: linear-gradient(#6920E5, #6920E5);
  background-position: 0% 100%;
  background-size: 0% 0%;
  background-repeat: no-repeat;
  */
}

/* a trick to do gradient transitions on a button */
.btn-primary::after {
  content: "";
  background-image: linear-gradient(270deg, #ff0f46, #ff0287);
  pointer-events: none;
  position: absolute;
  z-index: -1;
  inset: 0;

  opacity: 0;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:hover::after {
  content: "";
  opacity: 1;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid #00ffdc !important;
}

.btn-secondary:hover {
  background-color: #00ffdc;
  color: #2b0f39;
}

.btn-tetriary {
  background-color: transparent;
  color: #2b0f39;
  border: 2px solid #2b0f39 !important;
}

.btn-tetriary:hover {
  background-color: #2b0f39;
  color: white;
}

.btn-pill {
  font-size: 0.88rem;
  font-style: italic;
  font-weight: 800;
  border-radius: 60px;
  background: linear-gradient(270deg, #4e00ff 0%, #6920e5 100%);
  color: white;
  border: 2px solid transparent !important;

  padding-block: 0.22rem;
  padding-inline: 0.55rem;

  -webkit-transform: none;

  transform: none;
}

.btn-pill:hover {
  background: none;
  color: #6920e5;
  border: 2px solid #6920e5 !important;
}

button:disabled,
button[disabled] {
  background-color: #3c3c3c;
  color: #afafaf;
}

main {
  /* Also serves as a color mute for video instead of it's own background of:
    linear-gradient(0deg, rgba(78, 0, 255, 0.1), rgba(78, 0, 255, 0.1)), linear-gradient(0deg, rgba(31, 4, 29, 0.64), rgba(31, 4, 29, 0.64)) */
  background-image: linear-gradient(
      180deg,
      rgba(78, 0, 100, 0.6) calc(90dvh - 65px),
      rgba(5, 2, 65, 1) calc(100dvh - 65px),
      rgba(5, 2, 65, 1) 60.42%,
      rgba(0, 0, 0, 0)
    ),
    url(./page-bg-ship-6134358308071eee1e166e448191bc54.jpg);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.divider-top {
  position: relative;
  border-top: 3px solid #d2ff00;
}

.divider-bottom {
  position: relative;
  border-bottom: 3px solid #d2ff00;
}

.divider-top:before,
.divider-bottom:after {
  background: #d2ff00;
  content: "";
  height: 3px;
  position: absolute;
  width: 25%;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.divider-top:before {
  top: -6px;
  right: 0;
}

.divider-bottom:after {
  bottom: -6px;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  z-index: 9999;
  display: flex;
  align-items: center;
  /* flex-flow: wrap; */
  gap: 16px;
  background-color: white;
  color: black;
  fill: black;
}

.header > * {
  height: 100%;
  background-color: white;
}

.header-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.header-logos > * {
  border-width: 0px 0 0px 1px;
  border-style: solid;
  border-color: rgba(150, 148, 148, 0.32);
  padding: 16px 16px;
  height: 100%;
}

.header-logos a:nth-child(1) {
}

.header-logos a:nth-child(2) {
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(150, 148, 148, 0.32);
  padding: 23px 16px;
  width: 156px;
}

.header-logos a:nth-child(2):is([aria-current="true"], :focus, :hover) {
  fill: #4e00ff;
}

.menu-container {
  background-color: white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 2rem;
}

.menu-item > a {
  color: black;
  font-weight: 800;
  font-style: italic;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.header-menu .menu-item {
  margin: 0;
}

.header-menu .menu-item > a {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /* font-family: 'Hurme Geometric Sans 3'; */
}

.menu-item > a:is(:hover, :focus, :active, [aria-current="true"]) {
  color: #4e00ff; /* Primary/Neon Purple */
}

.lang {
  position: relative;
  color: white;
  fill: white;
}

.lang select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border-color: transparent;
  color: #fff;
  outline: none;
  /* padding: 8px 32px 8px 16px; */
  padding: 0 20px 0 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.lang *:is(.globe, .expand) {
  position: absolute;
  pointer-events: none;
  width: 16px;
  height: 100%;
}

.lang .globe {
  left: 0;
}

.lang .expand {
  right: 0;
}

.lang .list {
  display: none;
}

.header .lang {
  margin: 0;
  padding-inline: 18px;
  padding-block: 17px;
  border-left: 1px solid rgba(150, 148, 148, 0.32);
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  height: 100%;
  fill: inherit;
}

.header .lang :is(select, .expand) {
  display: none;
}

.header .lang .globe {
  position: relative;
  inset: 0;
  width: 26px;
  height: 26px;
}

.header .lang:is(.open, :hover) {
  fill: #4e00ff;
}

.header .lang .list {
  position: absolute;
  right: 0;
  top: 62px;
  min-width: 170px;
  /* display: flex; */
  flex-direction: column;
  max-height: 12.56rem;
  overflow-y: auto;
  margin: 0;
  padding-block: 10px;
  list-style: none;
  background-color: white;

  z-index: -2;
  display: flex;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-out,
    -webkit-transform 0.4s ease-in-out;
}

.header .lang:is(.show) .list {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.header .lang .list li {
  margin: 0;
  padding: 0;
  opacity: 0;
}

.header .lang:is(.show) .list li {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.header .lang .list::-webkit-scrollbar {
  width: 5px;
}

.header .lang .list::-webkit-scrollbar-track {
  background: transparent;
}

.header .lang .list::-webkit-scrollbar-thumb {
  background: #4e00ff;
  border-radius: 10px;
}

.header .lang .list a {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: none;
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  color: #797679;
  white-space: nowrap;
}

.header .lang .list a:is(:hover, :focus, :active, [aria-current="true"]) {
  color: #4e00ff;
  font-weight: 500;
}

/*
.header-lang select:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}
*/

.header .burger {
  padding: 17px;
  padding-left: 0;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.header .burger:is(:hover, :focus, :active) {
  fill: #4e00ff;
}

.row-reverse {
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.header .mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }

  .btn {
    padding-block: 1.05rem;
    padding-inline: 2.032rem;
    font-size: 1.563rem;
    line-height: 1.563rem;
  }

  .header {
    flex-flow: wrap;
  }

  .header .mobile {
    display: revert;
  }

  .header .non-mobile {
    display: none;
  }

  .menu-container {
    position: fixed;
    inset: 0;
    z-index: 9999;
    flex-direction: column;
    align-items: stretch;
    background-image: linear-gradient(167.99deg, #6920e5 0%, #4e00ff 100%);

    display: flex;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: visibility 0s step-end 0.4s, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, visibility 0s step-end 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s step-end 0.4s,
      -webkit-transform 0.4s ease-in-out;
  }

  .menu-active .menu-container {
    transition: visibility 0s step-end, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, visibility 0s step-end;
    transition: transform 0.4s ease-in-out, visibility 0s step-end,
      -webkit-transform 0.4s ease-in-out;
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  .menu-container .dropdown-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    fill: transparent;
    stroke: #d9d9d9;
    z-index: -1;
  }

  .menu-container .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .menu-container .dropdown-footer {
    padding-inline: 22px;
    padding-bottom: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    color: white;
  }

  .menu-container .dropdown-footer > .btn {
    margin-bottom: auto;
  }

  .menu-container .close {
    fill: white;
    margin: 0;
    padding: 22px;
  }

  .menu-container .logo-hyenas-icon {
    fill: white;
    width: 59px;
    height: 61px;
    margin: 22px;
  }

  .menu-container
    a:id(:hover, :focus, :active, [aria-current="true"])
    .logo-hyenas-icon {
    fill: #d2ff00;
  }

  .header .lang {
    border: 0;
    padding-right: 0;
  }

  .header .header-menu {
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
  }

  .header .header-menu .menu-item a {
    display: block;
    color: white;
    font-size: 1.57rem;
    line-height: 1.57rem;
    padding-inline: 22px;
    padding-block: 12px;
    font-weight: 900;
  }

  .header
    .header-menu
    .menu-item
    a:is(:hover, :focus, :active, [aria-current="true"]) {
    background: #d2ff00;
    color: black;
  }

  .header-logos {
    margin-right: auto;
  }
}

.display-flex {
  display: flex;
}

.float-left {
  text-decoration: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.margin-left {
  margin-left: 40px;
}

.article {
  display: inline-block;
  width: 48%;
  height: 100%;
  margin-left: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
  transition: 0.3s;
  vertical-align: top;
}

.container {
  padding: 15px;
}

.article-list {
  height: 300px;
}

.blogs {
  /* height: auto; */
  margin-left: 10px;
  transition: 0.3s;
  vertical-align: top;
  padding: 20px;
  margin-bottom: 18px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}

.title {
  text-align: center;
  border-bottom: 2px solid #d6d5d2;
  box-shadow: 0 0px 2px 0 rgba(101, 100, 100, 0.2);
  padding-top: 20px;
}

.description {
  padding: 35px;
}
.gradientText-module--container--Rkche {
  font-size: 1em;
  font-weight: 800;
  font-style: italic;
  font-family: inherit;
  text-transform: uppercase;

  fill: none;
  stroke-width: 2px;
}

.gradientText-module--container--Rkche .gradientText-module--svg--12df0 {
  /* act as a line-height and prevent width lower than one character */
  height: 1.15em;
  min-width: 1.15em;
  overflow: visible;
}

.gradientText-module--container--Rkche
  .gradientText-module--svg--12df0
  .gradientText-module--text--N5woH {
}

.gradientText-module--container--Rkche
  .gradientText-module--svg--12df0
  .gradientText-module--gradient--KwCbM
  :first-child {
  stop-color: #f7c7f9;
}

.gradientText-module--container--Rkche
  .gradientText-module--svg--12df0
  .gradientText-module--gradient--KwCbM
  :last-child {
  stop-color: #49fdff;
}
.hero-module--hero--JreNK {
  position: relative;
  width: 100%;
  min-height: calc(100dvh - 62px);
  /* padding-top: 2rem;
	padding-bottom: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}

.hero-module--background--jgHxV {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.hero-module--background--jgHxV::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(
      0deg,
      rgba(31, 4, 29, 0.64),
      rgba(31, 4, 29, 0.64)
    ),
    linear-gradient(0deg, rgba(78, 0, 255, 0.1), rgba(78, 0, 255, 0.1));
}

.hero-module--background--jgHxV video,
.hero-module--background--jgHxV img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-module--titleContainer--MWBzN {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  flex: 1 1;
  margin-block: 3.5rem;
}

.hero-module--echoBefore--y72IG,
.hero-module--title--\+uEef,
.hero-module--echoAfter--tRkgy {
  font-size: 9.37rem;
  /*
	font-size: 7.37rem;
	line-height: 7.37rem;
	*/
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.hero-module--title--\+uEef,
.hero-module--hyenasLogo--GIgZg svg {
  height: 9.37rem;
  /* height: 112px; <-- for viewBox="16 8 100 12" */
}

.hero-module--echoBefore--y72IG,
.hero-module--echoAfter--tRkgy {
  color: transparent;
  -webkit-text-stroke: 2px #4e00ff;
  margin-bottom: 0;
}

.hero-module--echoBefore--y72IG {
  -webkit-transform: scaleX(1.24) translateX(-10%);
  transform: scaleX(1.24) translateX(-10%);
}

.hero-module--echoAfter--tRkgy {
  -webkit-transform: scaleX(1.24) translateX(10%);
  transform: scaleX(1.24) translateX(10%);
}

.hero-module--hyenasLogo--GIgZg {
  margin-bottom: 0;
  /* transform: scaleX(0.84); */
}

.hero-module--titleImage--E9hRq {
  width: 100%;
}

.hero-module--subtitle--3AMZa,
.hero-module--description--z3BUB {
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  z-index: 2;
  max-width: 618px;
  margin-inline: 1rem;
  flex: 0.1 1;
}

.hero-module--subtitle--3AMZa {
  font-size: 4.125rem;
  line-height: 3.63rem;
  margin-bottom: 0;

  /*
	background: linear-gradient(180deg, #F7C7F9 14.93%, #49FDFF 79.17%);

	border: 2px solid;
	border-image-source: linear-gradient(180deg, #F7C7F9 14.93%, #49FDFF 79.17%);
	background-clip: text;
	-webkit-background-clip: text;
	*/
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #49fdff;
}

.hero-module--buttons--UUbKa {
  --idx: 0;
  position: relative;
  /* margin: auto; */
  flex: 1 1;
}

.hero-module--buttons--UUbKa button {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  /* group of buttons with skew transformation applied and shown in a column is visually off-center */
  /* thus, an negative offset of 10px compared to the previous button is needed to fix it */
  left: calc(-13px * var(--idx)); /* default skew offset of 0 */
}

.hero-module--platforms--1xl\+U {
  flex: 0.2 1;
}

.hero-module--platforms--1xl\+U .hero-module--large--vrEGQ,
.hero-module--platforms--1xl\+U .hero-module--small--90n4T {
  flex-grow: 1;
  display: flex;
  gap: 32px;
  opacity: 0.75;
  justify-content: center;
}

.hero-module--platforms--1xl\+U img,
.hero-module--platforms--1xl\+U svg {
  display: inline;
  max-height: 25px;
  width: auto;
}

.hero-module--platforms--1xl\+U .hero-module--small--90n4T {
  display: none;
  gap: 13px;
}

.hero-module--separatorContainer--CsxFH {
  width: 100%;
  margin-top: 1rem;
  margin-inline: auto;
  position: relative;
  flex: 0 1;
}

.hero-module--separatorContainer--CsxFH .hero-module--separator--rXWU6 {
  border-image-source: linear-gradient(95.76deg, #00ffdc -35.09%, #4e00ff 100%);
  border-image-width: 0 0 3px 0;
  border-image-repeat: stretch;
  border-image-slice: 30%;
  border-image-outset: 0;
  border-width: thin;
  border-style: solid;
  width: 100%;
  text-align: center;
  position: relative;
}

.hero-module--separatorContainer--CsxFH .hero-module--separator--rXWU6 svg {
  margin-bottom: -43px;
  max-width: 100%;
}

.hero-module--separatorContainer--CsxFH .hero-module--socials--RYJG8 {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .hero-module--titleContainer--MWBzN {
    flex-direction: column;
    align-items: center;
    gap: unset;
  }

  .hero-module--echoBefore--y72IG,
  .hero-module--echoAfter--tRkgy {
    font-size: 6rem !important;
    line-height: 2.7rem;
    opacity: 0.8;
    -webkit-transform: none;
    transform: none;
  }

  .hero-module--title--\+uEef,
  .hero-module--hyenasLogo--GIgZg,
  .hero-module--hyenasLogo--GIgZg svg {
    position: relative;
    height: 4.7rem !important;
    margin-bottom: 0;
    z-index: 1;
  }

  .hero-module--hyenasLogo--GIgZg svg {
    max-width: calc(100% - 20px);
  }

  .hero-module--subtitle--3AMZa {
    font-size: 3.2rem;
  }

  .hero-module--description--z3BUB {
    font-size: 1.3rem;
    margin-bottom: calc(1rem + 18px);
  }

  .hero-module--echoBefore--y72IG {
    -webkit-filter: drop-shadow(0 -2.3rem 0 hsla(258deg, 100%, 50%, 0.6))
      drop-shadow(0 -2.3rem 0 hsla(258deg, 100%, 50%, 0.4));
    filter: drop-shadow(0 -2.3rem 0 hsla(258deg, 100%, 50%, 0.6))
      drop-shadow(0 -2.3rem 0 hsla(258deg, 100%, 50%, 0.4));
  }

  .hero-module--echoAfter--tRkgy {
    -webkit-filter: drop-shadow(0 2.3rem 0 hsla(258deg, 100%, 50%, 0.6));
    filter: drop-shadow(0 2.3rem 0 hsla(258deg, 100%, 50%, 0.6));
  }

  .hero-module--buttons--UUbKa {
    flex: 0.5 1;
  }

  .hero-module--buttons--UUbKa button {
    left: calc(-11px * var(--idx)); /* default skew offset of 0 */
  }

  .hero-module--platforms--1xl\+U {
    flex: 1 1;
  }

  .hero-module--platforms--1xl\+U .hero-module--large--vrEGQ {
    display: none;
  }

  .hero-module--platforms--1xl\+U .hero-module--small--90n4T {
    display: flex;
  }
}
.moduleTitle-module--title--Js99j {
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  font-size: 2.56em;
}

.moduleTitle-module--solid--dlR\+1 {
  color: #2b0f39;
}

.moduleTitle-module--title--Js99j h4 {
  font-size: 1em; /* = 2.56rem = 32.768px */
  margin: 0;
  position: relative;
  left: 0.45em;
  padding-right: 0.2em;
}

.moduleTitle-module--title--Js99j h2,
.moduleTitle-module--gradientText--3noXW {
  font-size: 2.87em; /* = 7.34rem = 117.44px = h4 font-size * 2.87em */
  font-style: italic;
  line-height: 1.25em;
  margin-top: -0.25em;
  margin-bottom: 0;
}

.moduleTitle-module--gradientText--3noXW {
  line-height: 0;
}

.moduleTitle-module--gradientText--3noXW svg {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .moduleTitle-module--title--Js99j {
    padding-inline: 23px;
    padding-right: 29px;
  }

  .moduleTitle-module--title--Js99j h2,
  .moduleTitle-module--gradientText--3noXW {
    font-size: 2.05em;
  }
}

.parallaxLayer-module--layer--S1B4o {
  inset: 0;
  text-align: center;
  position: absolute;
  will-change: transform;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxLayer-module--layer--S1B4o > img {
  max-width: 100%;
}

.parallaxLayer-module--content--hhhwc {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: unset;
  padding-inline: 4rem;
  bottom: 0;
}

.parallaxLayer-module--content--hhhwc h2 {
  font-weight: 800;
  font-style: italic;
  font-size: 3.8rem;
  color: #d2ff00;
  text-transform: uppercase;
  margin: 0;
}

.parallaxLayer-module--content--hhhwc p {
  font-weight: 400;
  font-size: 1.56rem;
  line-height: 1.15em;
  color: white;
  max-width: 80%;
  margin: 0;
  margin-top: -10px;
}

.parallaxLayer-module--contentLeft--kZVNL {
  align-items: start;
  text-align: left;
}

.parallaxLayer-module--contentRight--1CHWt {
  align-items: end;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .parallaxLayer-module--content--hhhwc h2 {
    font-size: 3rem;
    letter-spacing: 0.03em;
  }

  .parallaxLayer-module--content--hhhwc p {
    font-size: 1.25rem;
  }
}
.horizontalParallax-module--parallax--78oSL {
  position: relative;
  min-height: 30%;
  /* height: calc(100vw - 85px); */
  /* min-height: calc(3 * 100vw) */ /* <- same as container min-width * count(container) */
  max-width: 1232px;
  width: 100%;
  margin-inline: auto;
  margin-top: 43px;
  /* height: 100%; */
}

.horizontalParallax-module--slide--5GIBG {
  position: absolute;
  /* inset: 0; */
  will-change: transform;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*
	max-height: 100%;
	height: inherit;
	*/
}

/* swap the order for a sonic to be visible */
.horizontalParallax-module--slide--5GIBG:nth-child(1) {
  z-index: 7;
}
.horizontalParallax-module--slide--5GIBG:nth-child(2) {
  z-index: 6;
}
.horizontalParallax-module--slide--5GIBG:nth-child(3) {
  z-index: 5;
}
.horizontalParallax-module--slide--5GIBG:nth-child(4) {
  z-index: 4;
}
.horizontalParallax-module--slide--5GIBG:nth-child(5) {
  z-index: 3;
}
.horizontalParallax-module--slide--5GIBG:nth-child(6) {
  z-index: 2;
}
.horizontalParallax-module--slide--5GIBG:nth-child(7) {
  z-index: 1;
}

.horizontalParallax-module--backLayer--X9JUz {
  position: relative;
  width: 100%;
  /*
	width: max-content;
	height: 100%;
	*/
}

.horizontalParallax-module--backLayer--X9JUz > img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .horizontalParallax-module--backLayer--X9JUz {
  }
}

@media only screen and (min-width: 1920px) {
  .horizontalParallax-module--parallax--78oSL {
    margin-top: auto;
  }
}

.gameModule-module--container--Rjtv8 {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  /*
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(min(100%, 1232px) + (35px * 2));
    */

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}

.gameModule-module--container--Rjtv8::-webkit-scrollbar {
  display: none;
}

.gameModule-module--splide--IvxDz {
  --margin-size-left: calc((100% - min(100%, 1249px)) / 2);
  --margin-size-right: calc((100% - min(100%, 1249px)) / 2);

  margin-top: -25px;
}

/*
.slider {
    --margin-size: calc((100vw - min(100%, 1232px)) / 2);
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(min(100%, 1232px) + (var(--margin-size) * 2));
    margin-left: calc(var(--margin-size) * -0.5);
    padding-bottom: 5%;
}
*/
.gameModule-module--slide--Nq8RW {
  position: relative;
  /*max-width: 1232px;*/
  width: 100%;
  /* margin-inline: 70px; */
  margin-bottom: 6rem !important;
}
/*
.slide {
    position: relative;
    max-width: 1232px;
    width: 100%;
    min-height: 617px;

    scroll-snap-align: center;
	scroll-snap-stop: always;
}

.slide:first-child {
    max-width: 1232px;
    left: calc(var(--margin-size) * 1.5);
}


.slide:last-child {
    max-width: calc(1232px + var(--margin-size) * 1);
    right: calc(var(--margin-size) * 1.5);
}
*/

.gameModule-module--layer---06ay {
  max-width: 1232px;
  position: absolute;
  inset: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.gameModule-module--layer---06ay img {
  -o-object-fit: none;
  object-fit: none;
  max-width: none;
}

.gameModule-module--layer---06ay:first-child::before {
  content: "";
  position: absolute;
  inset-inline: 0;
  top: auto;
  bottom: 8px;
  height: 530px;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
    101.46deg,
    #00ffdc -10.35%,
    rgba(78, 0, 255, 0.5) 89.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/*
{
    border: 2px solid;
    border-image-source: linear-gradient(101.46deg, #00FFDC -10.35%, rgba(78, 0, 255, 0.5) 89.2%);
}
*/

.gameModule-module--layer---06ay.frame {
  display: none;
}

.gameModule-module--layer---06ay:has(.gameModule-module--content--TX8xn) {
  bottom: -5rem;
}

.gameModule-module--layer---06ay.left {
  justify-content: start;
  text-align: left;
}

.gameModule-module--layer---06ay.right {
  justify-content: end;
  text-align: right;
}

.gameModule-module--layer---06ay.top {
  align-items: start;
}

.gameModule-module--layer---06ay.bottom {
  align-items: end;
  align-content: end;
}

.gameModule-module--layer---06ay:is(
    :nth-child(1),
    :nth-child(2),
    :nth-child(3)
  ) {
  align-items: end;
  align-content: normal;
}

.gameModule-module--content--TX8xn {
  padding-inline: 4rem;
}

.gameModule-module--content--TX8xn h2 {
  font-weight: 800;
  font-style: italic;
  font-size: 3.813rem;
  line-height: 1.295em;
  letter-spacing: 0.06em;
  color: #d2ff00;
  text-transform: uppercase;
  margin: 0;
}

.gameModule-module--layer---06ay.right .gameModule-module--content--TX8xn h2 {
  margin-left: auto;
}

.gameModule-module--content--TX8xn p {
  font-weight: 400;
  font-style: italic;
  font-size: 1.565rem;
  line-height: 1.2em;
  color: white;
  margin: 0;
  max-width: 80%;
}

.gameModule-module--layer---06ay.left .gameModule-module--content--TX8xn p {
  margin-right: auto;
}

.gameModule-module--layer---06ay.right .gameModule-module--content--TX8xn p {
  margin-left: auto;
}

@media only screen and (max-width: 1024px) {
  .gameModule-module--splide--IvxDz {
    --margin-size-left: 23px;
    --margin-size-right: 23px;
  }

  .gameModule-module--content--TX8xn {
    padding-inline: 1.57rem;
  }

  .gameModule-module--content--TX8xn h2 {
    font-size: 2.815rem;
    line-height: 1.055em;
    letter-spacing: 0.03em;
    white-space: normal;
    max-width: 90%;
  }

  .gameModule-module--content--TX8xn p {
    font-size: 1.25rem;
    line-height: 1.25em;
    max-width: unset;
  }

  .gameModule-module--layer---06ay {
    border-radius: 10px;
  }

  .gameModule-module--layer---06ay:has(.gameModule-module--content--TX8xn) {
    bottom: -6rem;
  }

  .gameModule-module--layer---06ay.mobile-fg-left img {
    margin-left: 13%;
  }

  .gameModule-module--layer---06ay.mobile-fg img,
  .gameModule-module--layer---06ay.mobile-fg-left img {
    max-height: 452px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .gameModule-module--layer---06ay:first-child img {
    height: 392px;
    width: 100%;
    border-radius: 10px;
  }

  .gameModule-module--layer---06ay:first-child::before {
    border-radius: 10px;
    height: 392px;
    bottom: 0;
  }

  .gameModule-module--layer---06ay.frame img {
    -o-object-fit: fill;
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: -7px;
  }

  .gameModule-module--layer---06ay.no-mobile {
    display: none;
  }
}
@-webkit-keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}
.splide--rtl {
  direction: rtl;
}
.splide__track--ttb > .splide__list {
  display: block;
}
.splide__container {
  box-sizing: border-box;
  position: relative;
}
.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__progress__bar {
  width: 0;
}
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}
.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}
.splide__slide img {
  vertical-align: bottom;
}
.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.newsModule-module--container--RA2nR {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 3.13rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  height: 568px;
}

.newsModule-module--container--RA2nR::-webkit-scrollbar {
  display: none;
}

.newsModule-module--item--4ssoJ {
  position: relative;
  overflow: hidden;
  min-width: 296px;
  max-width: 337px;
  /* max-width: calc(100vw - 2rem); */
  cursor: pointer;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

@media only screen and (max-width: 1024px) {
  .newsModule-module--container--RA2nR {
    padding-inline: 23px;
  }

  .newsModule-module--item--4ssoJ {
    min-width: 337px;
  }
}

.newsModule-module--image--nSr3O,
.newsModule-module--content--Qc-Z3 {
  height: 50%;
  position: relative;
}
.newsModule-module--image--nSr3O {
  height: 310px;
}

.newsModule-module--image--nSr3O img {
  display: block;
  width: 100%;
  opacity: 0.68;
  transition: 0.3s ease-out;
}

.newsModule-module--gradient--hdow- {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(78, 0, 255, 0) 50%, #4e00ff 100%);
  /* background: linear-gradient(180deg, rgba(78, 0, 255, 0) 16.88%, #4E00FF 53.86%); */
}

.newsModule-module--content--Qc-Z3 {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 258px;
}

.newsModule-module--contentBackground--3NPGh {
  position: absolute;
  inset: 0;
  background-image: url(./news-bg-da0f62a2cce57ffc6dbdebc9f761e0fc.png);
  background-position: left top;
  background-size: cover;
  z-index: -1;
  transition: 0.3s ease-out;
}

.newsModule-module--item--4ssoJ:hover
  .newsModule-module--contentBackground--3NPGh {
  inset: 0 10px 10px 10px;
}

.newsModule-module--item--4ssoJ:hover .newsModule-module--image--nSr3O img {
  -webkit-transform: scale(1.28) translateY(7%);
  transform: scale(1.28) translateY(7%);
}

.newsModule-module--content--Qc-Z3 {
  position: relative;
  padding: 2rem;
  color: #2b0f39;
}

.newsModule-module--categoryPill--VGgjQ {
  font-size: 0.8rem;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  border-radius: 26px;
  color: #4e00ff;
  background: #00ffdc;

  display: inline;
  position: absolute;
  top: -13px;
  padding-inline: 10px;
  padding-block: 5px;
  flex: 0 1;
}

.newsModule-module--categoryPill--VGgjQ.yellow {
  background: #d2ff00;
}

.newsModule-module--categoryPill--VGgjQ.pink {
  color: white;
  background: #f416e6;
}

.newsModule-module--content--Qc-Z3 h5 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsModule-module--content--Qc-Z3 .newsModule-module--contentText--5EIy1 {
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  min-height: 2.4rem;
}

.newsModule-module--content--Qc-Z3 .newsModule-module--contentText--5EIy1 p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 0;
  margin: 0;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  display: none;
}

.newsModule-module--content--Qc-Z3
  .newsModule-module--contentText--5EIy1
  p:first-child {
  display: -webkit-box;
}

.newsModule-module--content--Qc-Z3 h6 {
  font-size: 0.88rem;
  line-height: 1.13rem;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  color: #4e00ff;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  .newsModule-module--content--Qc-Z3 .newsModule-module--contentText--5EIy1 p {
    font-size: 1.25rem;
  }

  .newsModule-module--content--Qc-Z3 h6 {
    font-size: 1.1rem;
  }
}
.carouselModule-module--splide--JsPJi {
  overflow: hidden;
}

.carouselModule-module--contour--1dF2C {
  /* NOTE: slides width of 255px smaller than width of the selected one causes janky positioning, */
  /* 		 while width of 407px equal to width of the selected one does not   */
  width: 255px;
  /* width: 407px; */

  position: relative;
  height: 476px;
  margin-top: 140px;
  margin-bottom: 15px !important;
  margin-inline: 10px;
  -webkit-transform: skewX(-8.2deg) translateX(-32%);
  transform: skewX(-8.2deg) translateX(-32%);

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);

  /* TODO: https://dev.to/afif/border-with-gradient-and-radius-387f */
  /*
	border-image-source: linear-gradient(158.32deg, #00FFDC 14.74%, #4E00FF 88.91%);
	border-image-repeat: stretch;
	border-image-slice: 30%;
	border-style: solid;
	border-radius: 15px;

	transition: all .4s ease-in-out, border-image-outset .4s ease-in-out .4s;
	border-image-outset: 0px;
	border-image-width: 0px;
	border-width: 1px;
	*/

  transition: all 0.4s ease-in-out;
}

.carouselModule-module--contour--1dF2C::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: inset 0.4s ease-in-out 0.4s;
  border-radius: 15px;
  padding: 1px;
  background: linear-gradient(158.32deg, #00ffdc 14.74%, #4e00ff 88.91%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.carouselModule-module--mask--sV7dj {
  position: relative;
  overflow: hidden;
  height: 476px;
  /*width: 254px;*/
  border-radius: 10px;
  margin-top: 0px;
  padding-top: 0px;
  transition: 0.4s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-align: right;
}

.carouselModule-module--background--B7vfq {
  position: absolute;
  height: 100%;
  width: 100%;
  /*width: 254px;*/
  /*overflow: hidden;*/
  background: linear-gradient(180deg, #b9f3ff 0%, #eacbff 100%),
    linear-gradient(97.15deg, #00ffdc 10.47%, rgba(78, 0, 255, 0) 73.69%);

  border-image-source: linear-gradient(
    97.15deg,
    #00ffdc 10.47%,
    rgba(78, 0, 255, 0) 73.69%
  );
  border-image-repeat: stretch;
  border-image-slice: 30% 0 0 30%;
  border-style: solid;
  border-radius: 10px;

  transition: 0.4s ease-in-out;
  border-image-width: 0px;
  border-left-width: 0.1px; /* has to be set for border-image to work */
  box-sizing: content-box;
}

.carouselModule-module--overlayGreen--pfpxF,
.carouselModule-module--overlayPurple--ZA5Zo {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.carouselModule-module--overlayGreen--pfpxF {
  background: linear-gradient(90deg, #d2ff00 0%, #79fe01 100%);
  opacity: 0.4;
}

.carouselModule-module--overlayPurple--ZA5Zo {
  background: linear-gradient(
    180deg,
    rgba(68, 37, 116, 0) 43.75%,
    #442574 100%
  );
  opacity: 0;
}

.carouselModule-module--image--XJnue {
  height: 100%;
  /* width: initial !important;
	max-width: initial !important; */
  -o-object-fit: cover;
  object-fit: cover;
  text-align: center;
  transition: 0.4s ease-in-out;
  -webkit-transform: skewX(8.2deg) scale(1.2) translateY(20px);
  transform: skewX(8.2deg) scale(1.2) translateY(20px);
}

.carouselModule-module--splide--JsPJi .carouselModule-module--title--Jeo4t {
  position: absolute;
  bottom: 0;
  color: #d2ff00;
  font-style: normal;
  font-weight: 900;
  font-size: 2.56rem;
  text-transform: uppercase;
  text-align: left;
  margin-left: 10px;
  margin-block: 1rem;
  z-index: 1;
  transition: 0.4s ease-in-out;
  -webkit-transform: scale(1) translateX(100px);
  transform: scale(1) translateX(100px);
  opacity: 0;
  float: left;
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--contour--1dF2C {
  border-image-outset: 12px;
  border-image-width: 1px;
  /*margin-top: 40px;
	height: 598px;
	width: 407px; */
  -webkit-transform: skewX(-8.2deg) scale(1.6, 1.24) translateX(5%);
  transform: skewX(-8.2deg) scale(1.6, 1.24) translateX(5%);
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--contour--1dF2C::before {
  inset: -12px;
  padding: 1px;
}

/* move the next, next+1 and next+2 siblings to the right */
.carouselModule-module--splide--JsPJi
  :is(.is-next, .is-next + *, .is-next + * + *, .is-next + * + * + *)
  .carouselModule-module--contour--1dF2C {
  -webkit-transform: skewX(-8.2deg) translateX(48%);
  transform: skewX(-8.2deg) translateX(48%);
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--mask--sV7dj {
  /*
	margin-top: -50px;
	padding-top: 50px;
	height: 646px;
	*/
  -webkit-transform: scale(1.15) translate(-5%, -6%);
  transform: scale(1.15) translate(-5%, -6%);
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--background--B7vfq {
  border-image-width: 9px;
  -webkit-transform: scale(0.89, 0.88) translate(5.1%, 7%);
  transform: scale(0.89, 0.88) translate(5.1%, 7%);
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--image--XJnue {
  -webkit-transform: skewX(8.2deg) scale(0.77, 1) translateY(0px);
  transform: skewX(8.2deg) scale(0.77, 1) translateY(0px);
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--title--Jeo4t {
  transition: 0.4s ease-in-out 0.4s;
  -webkit-transform: scale(0.6) translateX(0);
  transform: scale(0.6) translateX(0);
  opacity: 1;
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--overlayGreen--pfpxF {
  opacity: 0;
}

.carouselModule-module--splide--JsPJi
  .is-active
  .carouselModule-module--overlayPurple--ZA5Zo {
  opacity: 1;
  -webkit-transform: scale(0.9) translate(5.5%, 5.5%);
  transform: scale(0.9) translate(5.5%, 5.5%);
}

.carouselModule-module--arrows--HZ8xJ .splide__arrow {
  align-items: center;
  padding: 0;
  border: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;

  transition: -webkit-transform 0.2s ease-in-out;

  transition: transform 0.2s ease-in-out;

  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.carouselModule-module--arrows--HZ8xJ .splide__arrow:hover:not(:disabled) {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.carouselModule-module--arrows--HZ8xJ .splide__arrow--prev {
  -webkit-transform: translate(-20px, -50%);
  transform: translate(-20px, -50%);
  left: 0;
}

.carouselModule-module--arrows--HZ8xJ .splide__arrow--next {
  -webkit-transform: translate(20px, -50%);
  transform: translate(20px, -50%);
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .carouselModule-module--contour--1dF2C,
  .carouselModule-module--splide--JsPJi
    :is(.is-next, .is-next + *, .is-next + * + *, .is-next + * + * + *)
    .carouselModule-module--contour--1dF2C {
    margin-top: 50px;
    -webkit-transform: skewX(-8.2deg) scale(0.7) translateX(0%);
    transform: skewX(-8.2deg) scale(0.7) translateX(0%);
  }

  .carouselModule-module--splide--JsPJi
    .is-active
    .carouselModule-module--contour--1dF2C {
    border-image-outset: 12px;
    border-image-width: 1px;
    /*margin-top: 40px;
		height: 598px;
		width: 407px; */
    -webkit-transform: skewX(-8.2deg) scale(1.1, 0.8) translateX(0%);
    transform: skewX(-8.2deg) scale(1.1, 0.8) translateX(0%);
  }

  .carouselModule-module--mask--sV7dj {
  }

  .carouselModule-module--splide--JsPJi
    .is-active
    .carouselModule-module--mask--sV7dj {
    /* height: calc(646px - 142px); */
  }
}
.faqModule-module--container--qqXKt {
  --active-answer-height: 0;
  background-color: white;
  color: #2b0f39;
  will-change: height;
  transition: height 0s 0.5s;
}

.faqModule-module--hasActive--Abm8V {
  transition: height 0s;
}

.faqModule-module--container--qqXKt ul {
  list-style: none;
  isolation: isolate;
}

.faqModule-module--item--Ipt9O {
  position: relative;
  border-top: 1px solid;
  border-image-source: linear-gradient(95.76deg, #00ffdc 15%, #4e00ff 100%);
  border-image-width: 1px 1px 0 1px;
  border-image-slice: 30%;
  margin: 0;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .faqModule-module--item--Ipt9O {
    border-image-width: 1px 0 0 0;
  }

  .faqModule-module--item--Ipt9O:last-child {
    border-image-width: 1px 0 1px 0;
  }
}

.faqModule-module--item--Ipt9O:last-child {
  border-image-width: 1px 1px 1px 1px;
}

.faqModule-module--item--Ipt9O .faqModule-module--question--RkLFd h6 {
  font-weight: 900;
  font-size: 1.25rem;
  font-style: italic;
  text-transform: uppercase;
  color: #2b0f39;
  text-align: left;
  width: 100%;
  transition: color 0.4s ease-in-out;
}

.faqModule-module--active--fk5lg .faqModule-module--question--RkLFd h6 {
  color: white;
}

.faqModule-module--item--Ipt9O .faqModule-module--question--RkLFd h6::after {
  content: "×";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
  /*font-size: 2rem;*/
  font-style: normal;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.faqModule-module--active--fk5lg .faqModule-module--question--RkLFd h6::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.faqModule-module--question--RkLFd {
  position: relative;
  width: 100%;
  padding-top: 39px;
  padding-bottom: 39px;
  cursor: pointer;
  padding-inline: 7rem;
}

.faqModule-module--answer--lopTD {
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  color: white;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  will-change: opacity, max-height;
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
  /* transform: translateY(-100%); */
  padding-inline: 7rem;
}

.faqModule-module--answer--lopTD > * {
  margin-bottom: 0;
  padding-bottom: 2.625rem;
}

.faqModule-module--answer--lopTD > *:last-child {
  margin-bottom: 0;
  padding-bottom: 2.625rem;
}

.faqModule-module--answer--lopTD div {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.faqModule-module--answer--lopTD img {
  width: calc((100% / 3) - 1rem);
}

.faqModule-module--button--w\+qp6 {
  width: 100%;
  text-align: center;
  padding: 5rem;
  margin-top: auto;
}

@media only screen and (max-width: 1024px) {
  .faqModule-module--question--RkLFd,
  .faqModule-module--answer--lopTD {
    padding-inline: 20px;
  }

  .faqModule-module--answer--lopTD > * {
    padding-bottom: 2.15rem;
  }

  .faqModule-module--answer--lopTD img {
    width: 100%;
  }

  .faqModule-module--answer--lopTD div {
    width: calc(100% + 40px);
    margin-inline: -20px;
    padding-inline: 20px;
    overflow: scroll;
  }

  .faqModule-module--answer--lopTD div::-webkit-scrollbar {
    display: none;
  }

  .faqModule-module--button--w\+qp6 {
    padding: 3.906rem;
  }
}

.faqModule-module--active--fk5lg .faqModule-module--answer--lopTD {
  opacity: 1;
  /* max-height is set directly on the answer node */
}

.faqModule-module--item--Ipt9O::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  background: linear-gradient(94.64deg, #4e00ff -35.52%, #00ffdc 120.73%);

  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.faqModule-module--active--fk5lg::after {
  opacity: 1;
}

.extrasModule-module--container--sSWbd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  isolation: isolate;
  padding-bottom: 30px;
}

.extrasModule-module--item--URE94 {
  flex: 1 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 330px;
}

.extrasModule-module--item--URE94:first-child {
  flex-basis: 100%;
  width: 100%;
  min-height: 530px;
}

.extrasModule-module--background--gqg5U,
.extrasModule-module--effectOverlay--B2vqK {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.extrasModule-module--item--URE94:first-child
  .extrasModule-module--background--gqg5U {
  height: 100%;
}

.extrasModule-module--background--gqg5U video,
.extrasModule-module--background--gqg5U img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.extrasModule-module--effectOverlay--B2vqK {
  height: 100%;
  background: rgba(31, 4, 29, 0.6);
  -webkit-filter: blur(62px);
  filter: blur(62px);
  z-index: 0;
}

.extrasModule-module--videoEffectOverlay--MdiM8 {
  background: linear-gradient(
      0deg,
      rgba(78, 0, 255, 0.1),
      rgba(78, 0, 255, 0.1)
    ),
    linear-gradient(0deg, rgba(31, 4, 29, 0.64), rgba(31, 4, 29, 0.64));
  -webkit-filter: none;
  filter: none;
}

.extrasModule-module--titleWrapper--SmwNM {
  flex: 3 1;
  text-align: center;
  height: 70%;

  margin: auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.extrasModule-module--item--URE94:first-child
  .extrasModule-module--titleWrapper--SmwNM {
  margin-inline: 10%;
  height: 60%;
  align-items: end;
  padding-bottom: 3%;
  color: #00ffdc;
}

.extrasModule-module--item--URE94:first-child
  .extrasModule-module--buttons--hDKPW {
  height: 40%;
}

.extrasModule-module--title--JNpvB > * {
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.extrasModule-module--title--JNpvB h3 {
  font-size: 4.12rem;
}
.extrasModule-module--title--JNpvB h4 {
  font-size: 2.56rem;
}

.extrasModule-module--visuals--SNkHU {
  font-size: 5.81rem;
}
.extrasModule-module--visuals--SNkHU > * {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  color: #5860fb;
}

.extrasModule-module--buttons--hDKPW {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .extrasModule-module--container--sSWbd {
    gap: 5px;
    padding-bottom: 0;
  }

  .extrasModule-module--item--URE94,
  .extrasModule-module--item--URE94:first-child {
    min-height: 300px;
  }

  .extrasModule-module--item--URE94:first-child
    .extrasModule-module--title--JNpvB
    h3 {
    font-size: 2.5rem;
  }

  .extrasModule-module--item--URE94 .extrasModule-module--titleWrapper--SmwNM {
    align-items: end;
    padding-bottom: 7%;
  }

  .extrasModule-module--item--URE94 .extrasModule-module--buttons--hDKPW {
    height: 35% !important;
  }

  .extrasModule-module--background--gqg5U {
    height: 100%;
  }

  .extrasModule-module--visuals--SNkHU {
    display: none;
  }
}
