.hero_section {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  position: relative;

  background-image: url("/img/media_hero_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero_glitch {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1)
    ),
    url("img/glitch.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  font-size: 150px;
  font-style: italic;
  font-weight: 900;
  line-height: 195px;
  letter-spacing: 0em;
  text-align: center;
}

.hero_title svg:nth-of-type(4) {
  display: none;
}

.hero_subtitle {
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  max-width: 600px;

  font-family: inherit;
}

@media only screen and (max-width: 1024px) {
  .hero_section {
    height: 300px;
    gap: 32px;
  }
  .hero_title {
    flex-direction: column;

    gap: 0px;

    font-size: 150px;
    font-style: italic;
    font-weight: 900;
    line-height: 195px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -50px;
  }
  .hero_glitch {
    display: block;
  }

  .hero_title svg {
    margin-top: -30px;
    width: 353px;
    height: 56px;
  }

  .hero_title svg:nth-of-type(2) {
    order: 4;
  }
  .hero_title svg:nth-of-type(4) {
    display: block;
    order: 3;
  }

  .hero_subtitle {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
  }
}
