.media_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 0;
  bottom: 0;
}
.media_image_tag {
  position: absolute;
  left: -16px;
  bottom: -4px;
  min-width: 76px;
  height: 54px;
  background: #6920e5;
  border-radius: 8px;
  transform: skew(12deg);
}
