.topographic1 {
  position: absolute;
  top: -120px;
  right: 0;
  z-index: 1;
}

.topographic2 {
  position: absolute;
  top: 500px;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .topographic1 {
    display: none;
  }
}
