.grid_container .grid_item {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-height: 250px;
  transition: 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.grid_container .grid_item .bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.5s ease-out;
}

.grid_container .grid_item:hover .bg_image {
  transition: 0.5s ease-out;
  transform: scale(1.15);
}

.grid_container .grid_item.grid_item5 {
  grid-column: span 8;
  grid-row: span 2;
}

.grid_container .grid_item.grid_item6 {
  grid-column: span 4;
  grid-row: span 2;
}

.grid_container .grid_item.grid_item9 {
  grid-column: span 6;
  grid-row: span 2;
}

.grid_container .grid_item .border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  transition: 0.5s ease-out;
}

.grid_container .grid_item:hover .border {
  border: 10px solid #6920e5;
}

@media only screen and (max-width: 1024px) {
  .grid_container .grid_item,
  .grid_container .grid_item.grid_item5,
  .grid_container .grid_item.grid_item6,
  .grid_container .grid_item.grid_item9 {
    grid-column: span 1;
    grid-row: span 2;
  }
}
