.hero_container {
  position: relative;
  height: 850px;

  background-color: #442574;
  background-image: url("./img/campaign/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  overflow: hidden;
}
.hero_title {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 24px;

  overflow: hidden;

  padding-top: 148px;
}

.hero_title svg:nth-child(2) {
  margin-right: -174px;
}

.hero_title svg:nth-child(3) {
  min-height: 200px;
}

.hero_title svg:nth-child(4) {
  margin-left: -180px;
}

.hero_campaign_svg {
  width: 288px;
  height: 100px;
}

.hero_title svg {
  flex-shrink: 0;
}

.hero_subtitle {
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;

  color: #ffffff;

  margin-top: 40px;
}

.hero_subtitle p {
  width: 618px;
  margin: 0 auto;
}

.hero_subtitle button {
  height: 60px;
  width: fit-content;

  background-color: #d2ff00;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  padding: 0 26px;

  border-radius: 8px;

  transform-origin: 100% 100%;

  transform: skewX(-12deg);

  margin: 0 auto;
  margin-top: 34px;
}
.hero_subtitle button span {
  color: #2b0f39;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  transform: skewX(12deg);
}

.hero_icons_desktop {
  margin-top: 184px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 32px;
}

.hero_icons_mobile {
  display: none;
  align-items: center;
  justify-content: center;

  margin-top: 46px;

  gap: 32px;
}

.hero_container .social_media_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero_container .social_media_icons a svg path {
  color: transparent;
  transition: color 0.3s ease-out, -webkit-text-stroke 0.3s ease-out;
  fill: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .hero_container {
    height: 791px;
  }

  .hero_title svg:nth-child(3) {
    min-height: 104px;
  }

  .hero_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 6px;

    padding-top: 0px;
    margin-top: 98px;
  }

  .hero_campaing_first {
    display: none;
  }

  .hero_title svg:nth-child(2) {
    opacity: 0.5;
  }
  .hero_title svg:nth-child(4) {
    opacity: 0.7;
  }
  .hero_title svg:nth-child(5) {
    opacity: 0.9;
  }

  .hero_title svg:nth-child(1),
  .hero_title svg:nth-child(2),
  .hero_title svg:nth-child(4),
  .hero_title svg:nth-child(5) {
    margin-right: 0px;
    margin-left: 0px;

    margin-bottom: -16px;
    order: 0;

    height: 50px;
  }

  .hero_title svg:nth-child(3) {
    opacity: 1;
    order: 1;
    height: 100px;
    z-index: 1;
  }

  .hero_subtitle {
    margin-top: 31px;
  }
  .hero_subtitle p {
    width: auto;
    padding: 0 20px;
  }

  .hero_subtitle button {
    margin-top: 118px;
  }

  .hero_icons_desktop {
    display: none;
  }

  .hero_icons_mobile {
    display: flex;
  }
}
