.faq_img {
  margin-top: 16px;
}

.faq_img.mobile_only {
  display: none;
}

.pos_right {
  margin-left: 32px;
}

@media (max-width: 1024px) {
  .faq_img {
    display: none;
  }

  .faq_img.mobile_only {
    margin-left: 16px;
    display: block;
    width: 100%;
    height: auto;
    max-height: 40px;
  }
}
