.card {
  flex: 1;
  max-width: 334px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.card .circle_image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(270deg, #4e00ff 0%, #00ffdc 100%);
  overflow: hidden;
}

.card .circle_image .img_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.card .circle_image .img_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card .content h4 {
  /* font-family: "Hurme Geometric Sans 3"; */
  font-style: italic;
  font-weight: 800;
  font-size: 41px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.card .content p {
  /* font-family: "Haas Grot Disp"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}
