.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  background-color: rgba(78, 0, 255, 1);
  border-radius: 50px;
  height: 50px;

  position: absolute;
  top: 196px;
  left: 50%;
  transform: translate(-50%, 0%);

  z-index: 2;
}

.navigation::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navigation {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navigation_link {
  width: 145px;
  height: 100%;
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border-radius: 50px;

  color: white;

  cursor: pointer;

  transition: color 0.5s linear;

  position: relative;
}
.navigation_link a {
  white-space: nowrap;
}

.navigation_link.active {
  color: rgba(43, 15, 57, 1);
}

.navigation_background {
  background-color: #d2ff00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

@media only screen and (max-width: 1024px) {
  .navigation {
    transform: translate(0%, -50%);
    overflow-x: scroll;
    width: 100%;
    justify-content: unset;
    padding-right: 20px;

    position: absolute;
    top: 0;
    left: 20px;

    transform: translate(0, -50%);
  }
  .navigation_link {
    width: auto;
    padding: 0 20px;
  }
}
