.news_hero_section {
  height: 745px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/img/hero_news.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news_desk_svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 400px;
  gap: 30px;
}

.news_phone_svg {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .news_hero_section {
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/img/hero_news_phone.jpg");
  }

  .news_desk_svg {
    display: none;
  }
  .news_phone_svg {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
  }

  .news_phone_svg svg {
    margin-top: -10px;
  }
  .news_phone_svg svg:nth-last-of-type(4) {
    margin-top: 0;
  }
}
