.sign_up_container {
  height: 932px;
  background-image: url("./img/campaign/signup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  margin-bottom: 100px;
}

.separator {
  width: 100%;
  height: 3px;
  background: linear-gradient(95.76deg, #00ffdc -35.09%, #4e00ff 100%);

  position: absolute;
  bottom: 0;
  left: 0;
}

.separator div {
  height: 100%;
  width: 172px;
  background: linear-gradient(
    95.76deg,
    rgba(0, 254, 220, 0.2),
    rgba(0, 254, 220, 1),
    rgba(0, 254, 220, 0.2)
  );
  filter: blur(1px);
}

.sign_up_container h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 41px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;

  width: 550px;
  margin: 0 auto;
  padding-top: 190px;

  color: #ffffff;
}

.sign_up_container button {
  height: 60px;
  width: fit-content;

  background-color: #d2ff00;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  padding: 0 26px;

  border-radius: 8px;

  transform-origin: 100% 100%;

  transform: skewX(-12deg);

  margin: 0 auto;
  margin-top: 26px;
}
.sign_up_container button span {
  color: #2b0f39;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;

  transform: skewX(12deg);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin: 0 auto;
  margin-top: 24px;
}

.hotdog {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .sign_up_container {
    height: auto;
    background-position: 32%;
  }

  .sign_up_container h1 {
    width: auto;
    padding: 0 20px;
    padding-top: 70px;
  }

  .sign_up_container button {
    margin-top: 16px;
  }

  .cards {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 106px;

    gap: 20px;

    padding: 0 20px 60px 20px;
  }
  .hotdog {
    right: -100px;
    top: -160px;
    transform: scale(0.7);
  }
}
