.separator {
  height: 3px;
  background: linear-gradient(#00ffdc 0%, #4e00ff 100%);
  /* background: linear-gradient(95.76deg, #00FFDC -35.09%, #4E00FF 100%); */
  border-radius: 23px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.separator div {
  height: 100%;
  width: 172px;
  background: linear-gradient(
    95.76deg,
    rgba(0, 254, 220, 0.2),
    rgba(0, 254, 220, 1),
    rgba(0, 254, 220, 0.2)
  );
  filter: blur(1px);
}
