.article_header {
  position: relative;
  height: 500px;
}

.article_header .header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/img/newsArticle/article_overlay.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.article_header .back_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 0 18px;
  position: absolute;
  width: 226px;
  height: 30.73px;
  top: 34px;
  left: 0;
  background: linear-gradient(90deg, #00ffdc 0%, #00f578 39.39%);
  border-radius: 0 5px 5px 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #4e00ff;
}

.article_header .category {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 26px;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 50%);
}

.article_header .category span {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 26px;
  background: #f416e6;
  border-radius: 26px;
  font-style: italic;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.article_details {
  margin-top: 60px;
}

.article_details .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1024px;
  margin: auto;
  color: #2b0f39;
  text-align: left;
}

.article_details .container h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 66px;
  line-height: 58px;
  text-transform: uppercase;
}

.article_details .container h6 {
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;

  color: #231f20;
}

.article_details .container .news_share {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-style: italic;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
}

.article_details .container .news_share .date {
  color: #4e00ff;
  text-transform: uppercase;
}

.article_details .container .news_share .share {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 16px;
  cursor: pointer;
  color: #2b0f39;
}

@media only screen and (max-width: 1024px) {
  .article_details .container,
  .article_header .category {
    margin: 0 20px;
  }

  .article_header .back_btn {
    width: auto;
  }

  .article_header .back_btn span {
    display: none;
  }

  .article_details .container h1 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0.03em;
  }

  .article_details .container h6 {
    font-size: 16px;
    line-height: 19px;
  }
}
