#root {
  margin: 0 auto;
  text-align: center;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.overflow_h {
  overflow: hidden;
}
