.hero_separator {
  border-image-source: linear-gradient(95.76deg, #00ffdc -35.09%, #4e00ff 100%);
  border-image-width: 0 0 3px 0;
  border-image-repeat: stretch;
  border-image-slice: 30%;
  border-image-outset: 0;
  border-width: thin;
  border-style: solid;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero_separator svg {
  margin-bottom: -44px;
  max-width: 100%;
}
