.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border: 2px solid #4e00ff;
}

.modal .modal_close_icon {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}

.modal .modal_close_icon:hover {
  cursor: pointer;
  transform: rotate(90deg);
}
.modal .modal_content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal .media_asset {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal .media_asset img {
  max-width: 90vw;
  max-height: calc(90vh - 50px);
  object-fit: contain;
}

.modal .modal_footer {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: 50px;
  background: #4e00ff;
  font-size: 18px;
  line-height: 22px;
}

.modal .modal_footer .left,
.modal .modal_footer .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.modal .modal_footer .left p {
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

.modal .modal_footer .right .format span {
  text-transform: uppercase;
}

.modal .modal_footer .download_btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #d2ff00;
  transform: skewX(-12deg);
  border-radius: 4px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2b0f39;
}

.modal .modal_footer .download_btn span {
  transform: skewX(12deg);
}

@media only screen and (max-width: 1024px) {
  .modal {
    max-height: 80vh;
  }

  .modal .modal_close_icon {
    right: 0;
    top: -40px;
  }

  .modal .modal_footer {
    height: auto;
    flex-direction: column;
    gap: 8px;
  }

  .modal .modal_footer .left {
    justify-content: flex-start;
  }
}
