.text {
  max-width: 1024px;
  margin: auto;
}

.text p {
  /* font-family: "Haas Grot Disp"; */
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #231f20;
  padding-bottom: 30px;
}

.text h2 {
  /* font-family: 'Hurme Geometric Sans 3'; */
  font-style: italic;
  font-weight: 800;
  font-size: 66px;
  line-height: 62px;

  text-align: center;
  text-transform: uppercase;

  color: #231f20;

  padding: 60px 0 20px 0;
}

.text span {
  color: #4e00ff;
}

.text h6 {
  /* font-family: 'Haas Grot Disp'; */
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #231f20;
  padding-bottom: 60px;
}

@media only screen and (max-width: 1024px) {
  .text {
    padding: 0 20px;
  }

  .text p {
    font-size: 16px;
  }
  .text h2 {
    font-size: 36px;
    line-height: 38px;
    padding: 30px 0 20px 0;
  }
  .text h6 {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
  }
}
