.thumbs_layout {
  display: flex;
  justify-content: center;
  padding: 50px 0 0px 0;
}

.thumbs_layout .splide__track--nav > .splide__list > .splide__slide {
  transition: 0.3s linear;
  border: 3px solid transparent;
}

.thumbs_layout .splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #d2ff00;
}
.carousel_container {
  padding-bottom: 30px;
}

.carousel_container .splide__arrow {
  width: 68px;
  height: 30.73px;
  background: linear-gradient(90deg, #00ffdc -264.71%, #00f578 -121.06%);
  border-radius: 5px;
}

.carousel_container .splide__arrow.splide__arrow--prev {
  display: flex;
  justify-content: flex-end;
  left: -17px;
  padding: 0 20px 0 0;
}

.carousel_container .splide__arrow.splide__arrow--next {
  display: flex;
  justify-content: flex-start;
  right: -17px;
  padding: 0 0 0 20px;
}

.carousel_container .splide__arrow.splide__arrow svg {
  display: none;
}

/* Customize the previous arrow */
.carousel_container .splide__arrow.splide__arrow--prev::before {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 16px;
  content: "";
  background: url("../../../../assets/images/newsArticle/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

/* Customize the next arrow */
.carousel_container .splide__arrow.splide__arrow--next::before {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  width: 16px;
  content: "";
  background: url("../../../../assets/images/newsArticle/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel_container .splide__pagination__page {
  width: 25px;
  height: 5px;
  border-radius: 10px;
  background: #57565f;
}

.carousel_container .splide__pagination__page.is-active {
  width: 25px;
  height: 5px;
  border-radius: 10px;
  background: #ffffff;
  transform: scale(1);
}

@media only screen and (max-width: 1024px) {
  .thumbs_layout {
    display: none;
  }
}
